*.mp4
*.mov
*.ttf
preview_*.png
cache3d/
__pycache__/
mv_*.png
melochoco/clips/*.mov
melochoco/props_out/tex/
melochoco/clips/seq_*/
melochoco/clips/*.zip
melochoco/clips/*_anim.png
melochoco/clips/*_preview.mp4
melochoco/clips/*_greenback.mp4
melochoco/*.mp4
melochoco/illust_anim*
